/* corte mobile vertical */
@media only screen and (max-width: 576px) {
    html {
        font-size: 80%;
    }
    main{
        width: 100%;
    }
    body{        
        margin: 0;
    }

    .headermenu, .footermenu{        
        text-align: center;
    }

    .hmenu, .fmenu{      
        grid-gap: 10px;
        grid-template-areas:
        'item1 item2'
        'item3 item4';
    }

    .hmenu,.fmenu>div{
        margin: 1%;        
    }

    .section1, .section2, .section3{
        margin: 1.5em auto;        
        width: 100%;
        text-align: center;
    }
    .box1, .box2{
        margin: 1.5em auto;        
        text-align: center;
        grid-template-areas:
        'texto'
        'img';
    }

    .imginicio, .imgnosotros{
        height: 30vh;
    }

    .texto{
        margin: 1.5em auto;        
        text-align: center;
    }

    .section3{
        grid-template-areas:
        'cons'
        'cont'
    }

    .consultas, .contacto{
        margin: 1.5em auto;
        width: fit-content;
    }

    #survey-form{
        margin: 0;
    }

    iframe{
        width: fit-content;
    }
    
    .footermenu{
        height: 100%;
        grid-template-areas:
        'redes redes'
        'logo menu'
    }
    
        
}

/* corte tablet vertical */
@media only screen and (max-width: 1000px) {
    html {
        font-size: 90%;
    }

    main{
        width: 100%;
    }

    body{        
        margin: 0;
    }

    .section1, .section2, .section3{
        margin: 1.5em auto;        
        width: 100%;
        text-align: center;
    }

    .box1, .box2{
        margin: 1.5em auto;        
        text-align: center;
        grid-template-areas:
        'texto'
        'img';
    }

    .section3{
        grid-template-areas:
        'cons'
        'cont'
    }

    .texto{
        margin: 1.5em auto;        
        text-align: center;
    }

    .slider-container{
        height: 60vh;
    }

    .footermenu{
        height: 100%;
        width: 100%;
        grid-template-areas:
        'redes redes redes'
        'logo fmenu fmenu'
    }

    .fmenu{
        grid-gap: 10px;
    }
}

/* corte tablet horizontal */
@media only screen and (max-width: 1214px) {
    main{
        width: 100%;
    }

    body{        
        margin: 0;
    }

    .section1, .section2, .section3{
        margin: 1.5em auto;        
        width: 100%;
        text-align: center;
    }

    .footermenu{
        height: 100%;
        width: 100%;
        grid-template-areas:
        'redes redes redes'
        'logo fmenu fmenu'
    }

    .fmenu{
        grid-gap: 10px;
    }
}

/* corte tablet horizontal */
@media only screen and (max-width: 1236px) {
    main{
        width: 100%;
    }

    body{        
        margin: 0;
    }

    .section1, .section2, .section3{
        margin: 1.5em auto;        
        width: 100%;
        text-align: center;
    }
}