footer{
    height:min-content;
    background-color: #fbf6f2;
    height: 80px;
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footermenu{grid-area: fmenu;}
.imglogo{grid-area: logo;}
.logosredes{grid-area: redes;}
.footermenu{
    width: 100%;
    min-height: 1.5rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas:
    'logo fmenu redes redes'    
}

.fmenuitem1{grid-area: item1;}
.fmenuitem2{grid-area: item2;}
.fmenuitem3{grid-area: item3;}
.fmenuitem4{grid-area: item4;}
.fmenu{
    display: grid;
    grid-gap: 20%;
    grid-template-areas:
    'item1 item2 item3 item4'
}

.fmenu > div{    
    width: 0.5fr;
    height: 0.5fr;
    margin: 10%;
}

.fmenu > div:hover{
    background-color: #C9E4C5;
    box-shadow: 2px 2px #B5CDA3;
}

.fmenu a {    
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
    color: #C1AC95;
}

.fmenu a:hover{
    color: #fff;
}

