header{
    background-color: #fbf6f2;
    box-shadow: 5px 5px #C9E4C5;
    /* height: 90px; */
    height: 10%;
    width: 100%;
    margin-bottom: 0.5rem;
    z-index: 3;
    /* position: sticky; */
    margin: 0;
    top: 0;
}

.hmenu{grid-area: menu;}
.imglogo{grid-area: logo;}
.headermenu{
    width: 90%;
    min-height: 1.5rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas:
    'logo menu'    
}

.menuitem1{grid-area: item1;}
.menuitem2{grid-area: item2;}
.menuitem3{grid-area: item3;}
.menuitem4{grid-area: item4;}
.hmenu{
    display: grid;
    grid-template-areas:
    'item1 item2 item3 item4'
}

.hmenu > div{    
    width: 0.5fr;
    height: 0.5fr;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.hmenu > div:hover{
    background-color: #C9E4C5;
    box-shadow: 2px 2px #B5CDA3;
}

.hmenu a {    
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
    color: #C1AC95;
}

.hmenu a:hover{
    color: #fff;
}

.imglogo{
    height: auto;    
    margin: 1rem;
    justify-self: first baseline;
}
