*{
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 1.4rem;
    font-family: 'Prompt', sans-serif; 
}

/* body, header, main, footer{
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;     
} */

body{
    /* min-width: 550px; */
    line-height: normal;
    margin: 0;
}

main{
    /* min-height: 200px; */
    text-align: center;
    background: linear-gradient(#C9E4C5,#9FC088,#C1AC95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1{grid-area: box1;}
.box2{grid-area: box2;}
.section1{
    background-color: #A2B38B50 ;    
    border-radius:20px;
    width: 70%;
    margin: 1.6em auto;
    padding: 20px;
    display: grid;
    grid-template-areas:
    'box1'
    'box2' ;
}

.texto{grid-area: texto;}
.img{grid-area: img;}
.box1, .box2{
    background-color: #d5e0d3b0 ;
    border-radius:20px;
    margin-top: 15px;
    padding: 20px;
    display: grid;
    grid-template-areas:
    'texto img'
}

.texto{
    margin: 0% 10% 10% 10%;
}

.imginicio, .imgnosotros{
    border-radius: 20px ;
    width: 100%;
    height: 60vh;
}

.section2{
    background-color: #A2B38B50 ;    
    border-radius:20px;
    width: 70%;
    margin: 1.6em auto;
    padding: 20px;
}

.texto{grid-area: texto;}
.slider-container{grid-area: img;}
.box3{
    background-color: #d5e0d3b0 ;
    border-radius:20px;
    margin-top: 15px;
    padding: 20px;
    display: grid;
    grid-template-areas:
    'texto'
    'img';
}

.box3>.texto{
    margin-left: 6%;
}

.slider-container {
    display: flex;
    width: 100%;
    height: 80vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
  
.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

.consultas{grid-area: cons;}
.contacto{grid-area: cont;}
.section3{
    background-color: #A2B38B50 ;    
    border-radius:20px;
    width: 70%;
    margin: 1.6em auto;
    padding: 20px;
    display: grid;
    grid-template-areas:
    'cons cont'
}

.consultas, .contacto{
    background-color: #d5e0d3b0 ;
    border-radius:20px;
    margin-top: 15px;
    padding: 20px;
    /* margin: 1.6em auto;     */
}

h1{
    font-size: 3em;
    text-align: start;
    margin-top: 0;
}

p{
    text-align:left;
}